<!DOCTYPE HTML>
<html manifest="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">

    <title>TestModule</title>
    <script id="microloader" data-app="d967c048-144b-4766-aa90-fa53b90666ec" type="text/javascript" src="/bootstrap.js"></script>

</head>
<body></body>
</html>
